@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Lato);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400|Raleway);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.blue {
  background-color: #03A9F4; }

.red {
  background-color: #E91E63; }

.green {
  background-color: #8BC34A; }

.yellow {
  background-color: #FFC107; }

.name {
  font-size: 1.3em; }

.home a:link {
  text-decoration: none; }
.home a i {
  margin-top: -90px;
  color: seashell;
  float: right;
  padding-right: 40px; }

.project_text p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  padding: 5px 80px;
  text-align: left;
  line-height: 1.5em;
  font-size: 0.8em;
  margin-top: 17px;
  word-spacing: 2px; }
  .project_text p a {
    color: #8BC34A; }
  .project_text p a:link {
    text-decoration: none; }

.footer_text p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  padding: 5px 80px;
  text-align: center;
  line-height: 1em;
  font-size: 15px;
  margin-top: 10px;
  word-spacing: 2px; }
  .footer_text p a {
    color: #03A9F4; }
  .footer_text p a:link {
    text-decoration: none; }

body {
  background-color: light-gray;
  margin: 0;
  padding: 0 1em;
  margin-left: 10%;
  margin-right: 10%;}

  body .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', sans-serif;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    body .container::after {
      clear: both;
      content: "";
      display: table; }
    body .container:last-child {
      margin-right: 0; }
    body .container .main-nav {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      border: 1px solid lightgray;
      height: 10%;
      margin-top: 0;
      background-color: #455A64;
      color: lightgray;
      text-align: center; }
      body .container .main-nav:last-child {
        margin-right: 0; }
    body .container #main {
      float: left;
      display: block;
      width: 102.3576515979%;
      background: url("../assets/bg-image-3.png") no-repeat center; }
      body .container #main:last-child {
        width: 100%; }
      body .container #main .pic {
        float: left;
        display: block;
        width: 51.178825799%;
        border: 1px solid lightgray;
        height: 70%;
        border-right: 0px;
        border-top: 0px; }
        body .container #main .pic:last-child {
          width: 48.821174201%; }
        body .container #main .pic img {
          max-width: 100%;
          max-height: 80%;
          margin-left: 30%;
          margin-top: 5%; }
      body .container #main .profile {
        float: left;
        display: block;
        width: 51.178825799%;
        border: 1px solid lightgray;
        border-top: 0px;
        border-left: 0px; }
        body .container #main .profile:last-child {
          width: 48.821174201%; }
        body .container #main .profile p {
          margin-bottom: 55%; }
        body .container #main .profile h2 {
          font-family: 'Josefin Slab', serif;
          font-weight: 300;
          color: lightgray; }
    body .container #nav {
      float: left;
      display: block;
      width: 102.3576515979%;
      text-align: center;
      margin-top: 4px;
      height: 20%;
      margin-bottom: 10px;
      padding-bottom: 10px; }
      body .container #nav:last-child {
        width: 100%; }
      body .container #nav .about {
        float: left;
        display: block;
        width: 25.5894128995%;
        border: 1px solid lightgray;
        border-right: 0px;
        height: 100%; }
        body .container #nav .about:last-child {
          width: 23.2317613015%; }
        body .container #nav .about a:link {
          text-decoration: none; }
        body .container #nav .about a i {
          margin-top: 15px;
          color: seashell; }
        body .container #nav .about a h2 {
          color: seashell; }
      body .container #nav .tech {
        float: left;
        display: block;
        width: 25.5894128995%;
        border: 1px solid lightgray;
        border-right: 0px;
        height: 100%; }
        body .container #nav .tech:last-child {
          width: 23.2317613015%; }
        body .container #nav .tech a:link {
          text-decoration: none; }
        body .container #nav .tech a i {
          margin-top: 15px;
          color: seashell; }
        body .container #nav .tech a h2 {
          color: seashell; }
      body .container #nav .projects {
        float: left;
        display: block;
        width: 25.5894128995%;
        border: 1px solid lightgray;
        border-right: 0px;
        height: 100%; }
        body .container #nav .projects:last-child {
          width: 23.2317613015%; }
        body .container #nav .projects a:link {
          text-decoration: none; }
        body .container #nav .projects a i {
          margin-top: 15px;
          color: seashell; }
        body .container #nav .projects a h2 {
          color: seashell; }
      body .container #nav .contact {
        float: left;
        display: block;
        width: 25.5894128995%;
        border: 1px solid lightgray;
        height: 100%; }
        body .container #nav .contact:last-child {
          width: 23.2317613015%; }
        body .container #nav .contact a:link {
          text-decoration: none; }
        body .container #nav .contact a i {
          margin-top: 15px;
          color: seashell; }
        body .container #nav .contact a h2 {
          color: seashell; }
    body .container .aboutSection {
      float: left;
      display: block;
      width: 102.3576515979%;
      height: 100%; }
      body .container .aboutSection:last-child {
        width: 100%; }
      body .container .aboutSection .aboutHeader {
        border: 1px solid lightgray;
        height: 25%;
        margin-bottom: 0;
        margin-top: 10px; }
        body .container .aboutSection .aboutHeader h2 {
          font-family: 'Roboto Mono', sans-serif;
          color: seashell;
          font-weight: 300;
          font-size: 3em;
          padding-left: 40px;
          text-align: left; }
      body .container .aboutSection .aboutBody {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        border: 1px solid lightgray;
        height: 75%;
        text-align: left; }
        body .container .aboutSection .aboutBody:last-child {
          margin-right: 0; }
        body .container .aboutSection .aboutBody p {
          font-family: 'Lato', sans-serif;
          margin-bottom: 5px;
          padding: 5px 80px;
          text-align: left;
          line-height: 1.5em;
          font-size: 20px;
          margin-top: 40px;
          word-spacing: 3px; }
          body .container .aboutSection .aboutBody p a {
            color: #03A9F4; }
          body .container .aboutSection .aboutBody p a:link {
            text-decoration: none; }
    body .container .technologies {
      float: left;
      display: block;
      width: 102.3576515979%;
      height: 100%;
      margin-bottom: 10px;}
      body .container .technologies:last-child {
        width: 100%; }
      body .container .technologies ul {
        text-align: center;
        margin-left: 58px; }
        body .container .technologies ul li:hover {
          background-color: #333;
          opacity: 0.8; }
      body .container .technologies li.block {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%;
        width: 200px;
        height: 200px;
        margin: 15px;
        text-align: center;
        box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in; }
        body .container .technologies li.block:last-child {
          margin-right: 0; }
        body .container .technologies li.block:nth-child(4n) {
          margin-right: 0; }
        body .container .technologies li.block:nth-child(4n+1) {
          clear: left; }
        body .container .technologies li.block img {
          width: 128px;
          height: 128px; }
        body .container .technologies li.block h2 {
          font-family: 'Roboto Mono', sans-serif;
          color: seashell;
          font-weight: 300;
          font-size: 3em; }
        body .container .technologies li.block h2:hover {
          color: #E91E63;
          background-color: seashell; }
        body .container .technologies li.block a:link {
          text-decoration: none; }
        body .container .technologies li.block a i {
          margin-top: 0px;
          color: seashell;
          float: right;
          padding-right: 40px; }
    body .container .projectSection {
      float: left;
      display: block;
      width: 102.3576515979%;
      height: 100%;
      margin-bottom: 25px;
      border: 1px solid lightgray; }
      body .container .projectSection:last-child {
        width: 100%; }
      body .container .projectSection .projectHeader {
        border: 1px solid lightgray;
        height: 25%;
        margin-bottom: 0; }
        body .container .projectSection .projectHeader h2 {
          font-family: 'Roboto Mono', sans-serif;
          color: seashell;
          font-weight: 300;
          font-size: 3em;
          padding-left: 40px; }
      body .container .projectSection .projectBody {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        text-align: right; }
        body .container .projectSection .projectBody:last-child {
          margin-right: 0; }
        body .container .projectSection .projectBody .village {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 100%;
          border-bottom: 1px solid lightgray;
          margin-bottom: 15px;
          padding: 10px; }
          body .container .projectSection .projectBody .village:last-child {
            margin-right: 0; }
          body .container .projectSection .projectBody .village .village_image {
            float: left;
            display: block;
            margin-right: 2.3576515979%;
            width: 48.821174201%; }
            body .container .projectSection .projectBody .village .village_image:last-child {
              margin-right: 0; }
            body .container .projectSection .projectBody .village .village_image img {
              width: 400px; }
          body .container .projectSection .projectBody .village .village_desc {
            float: left;
            display: block;
            margin-right: 2.3576515979%;
            width: 48.821174201%; }
            body .container .projectSection .projectBody .village .village_desc:last-child {
              margin-right: 0; }
        body .container .projectSection .projectBody .xhatter {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 100%;
          padding: 10px;
          margin-bottom: 15px; }
          body .container .projectSection .projectBody .xhatter:last-child {
            margin-right: 0; }
          body .container .projectSection .projectBody .xhatter .xhatter_image {
            float: left;
            display: block;
            margin-right: 2.3576515979%;
            width: 48.821174201%; }
            body .container .projectSection .projectBody .xhatter .xhatter_image:last-child {
              margin-right: 0; }
            body .container .projectSection .projectBody .xhatter .xhatter_image img {
              width: 400px; }
          body .container .projectSection .projectBody .xhatter .xhatter_desc {
            float: left;
            display: block;
            margin-right: 2.3576515979%;
            width: 48.821174201%; }
            body .container .projectSection .projectBody .xhatter .xhatter_desc:last-child {
              margin-right: 0; }
    body .container .contactSection {
      float: left;
      display: block;
      width: 102.3576515979%;
      height: 100%; }
      body .container .contactSection:last-child {
        width: 100%; }
      body .container .contactSection .contactHeader {
        border: 1px solid lightgray;
        height: 25%;
        max-width: 100%; }
        body .container .contactSection .contactHeader h2 {
          font-family: 'Roboto Mono', sans-serif;
          color: seashell;
          font-weight: 300;
          font-size: 3em;
          padding-left: 40px; }
      body .container .contactSection .contactBody {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 60px;
        height: 60%; }
        body .container .contactSection .contactBody:last-child {
          margin-right: 0; }
        body .container .contactSection .contactBody li.block {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 40.2913699012%;
          list-style-type: none;
          display: inline-block;
          width: 150px;
          height: 150px;
          margin: 15px;
          text-align: center;
          cursor: pointer;
          box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2); }
          body .container .contactSection .contactBody li.block:last-child {
            margin-right: 0; }
        body .container .contactSection .contactBody li > a {
          color: black; }
        body .container .contactSection .contactBody li > a:hover {
          color: #FFC107;
          text-decoration: none; }
      body .container .contactSection .footer {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        border: 1px solid lightgray;
        height: 10%;
        background-color: #455A64;
        color: lightgray;
        text-align: center; }
        body .container .contactSection .footer:last-child {
          margin-right: 0; }

/*# sourceMappingURL=main.css.map */
