body {
  margin: 0;
  padding: 0;
}
section {
  margin: 0 auto;
  padding: 50px;
  max-width: 500px;
}
.profile-image {
  background-image  : url("../assets/profile-image.jpg");
  background-repeat : no-repeat;
  background-position : 50% 20%;
  background-size   : 100% auto;
  background-size   : cover;
  width             : 200px;
  height            : 200px;
  border-radius     : 50%;
}

h1 {
  color: #232322;
  font: 500 22px/32px 'Alegreya Sans SC', Arial, "Lucida Grande", sans-serif;
}

h1:hover {
  color: #00BCD4;
}

h2 {
  color: #7c7870;
  font: 300 19px/25px Lato, Helvetica, Arial, "Lucida Grande", sans-serif;
}
hr {
  background: #e4e2de;
  border: 0;
  height: 1px;
  margin: 30px auto 40px auto;
  width: 100%;
}
p {
  color: #acacac;
  font: 300 15px/25px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 0 10px 10px;
  text-align: left;
}
a {
  color: #00BCD4;
  text-decoration: none;
}
a:hover {
  color: #175DAF;
}
